<mat-accordion>
  <mat-expansion-panel *ngFor="let show of shows">
    <mat-expansion-panel-header>
      <mat-panel-title> {{show.showName}}</mat-panel-title>
      <mat-panel-description>
      <p *ngIf="show.showDate">Premiered: {{show.showDate | date}}</p>
      </mat-panel-description>
      <mat-panel-description>
      <p *ngIf="show.showStatus">
        Status: {{show.showStatus}}</p>
      </mat-panel-description>
    </mat-expansion-panel-header>
      <div>

      <span [innerHTML]="show.showSummary"></span>
        <img *ngIf="show.showImg"[src]="show.showImg.medium">

      <p *ngIf="show.previousEpisode ">Previous Episode: {{show.previousEpisode.episodeName}}</p>
      <p *ngIf="show.nextEpisode "> Next Episode: {{show.nextEpisode.episodeName}}</p>

      </div>
    <button mat-stroked-button color="warn" routerLink="/seasons/{{show.showId}}">More Information</button>


  </mat-expansion-panel>
</mat-accordion>



