<body>
<form>
  <input name="showname" type="text" >
  <input name="submit" type="submit" value="submit">
</form>
<div class="container mt-3">
  <div class="row">
    <h1 class="col"></h1>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Season</th>
        <th scope="col">Episode</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
</body>
